@model Restaurant.Models.FoodType

@{
    ViewData["Title"] = "Details";
}



<div>
    <h4>Категорія</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            Назва
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
    </dl>
</div>
<div>
</div>
